# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Environment
.env

# Allure
allure-results/
allure-report/

# Test artifacts
screenshots/
logs/
test-results/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db